@import "variables.scss";

@font-face {
    font-family: 'Gagalin';
    src: url('fonts/Gagalin-Regular.woff2') format('woff2'),
        url('fonts/Gagalin-Regular.woff') format('woff'),
        url('fonts/Gagalin-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


html, body {
  max-height: 810px;
  max-width: 1440px;
  height: 810px;
  width: 1440px;
}

.v-application, body {
  font-family: 'Gagalin', sans-serif!important;
}

#app {
  background-color: #171717;
  color: #fff;
}

.v-btn {
  background-color: $darkBlue !important;
  color: #fff !important;
}

a {
  text-decoration: none;
}

a.lienDesactive {
  pointer-events: none;
}

.error {
  color: #ff5252;
}

.titre {
  font-size: 40px;
  text-shadow: 1px 2px #000;
}

.v-label {
  color: #fff !important;
}
