@import "variables.scss";

#inputs {
  width: 400px;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#boutons {
  width: 500px;
  display: flex;
  justify-content: space-around;
}
