# don't ever lint node_modules
../server/node_modules
../client/node_modules
# don't lint build output (make sure it's set to your correct build folder name)
../server/dist
../client/dist
# don't lint nyc coverage output
../coverage
# don't lint .json
../*.json
../**/*.json

# temp fix : don't lint test files on client
../client/src/tests